<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weiqi_ipad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A1734411C11409400A9DA15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A17345A1C11409400A9DA15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A1734651C11409400A9DA15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
